.wrapper {
  display: flex;
  gap: 20px;
  background-color: #d0cde6;
}

.avatar {
  border-radius: 100%;
  padding: 10px;
  img {
    display: block;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 100px;
  }
}

.description {
  max-width: 580px;
  padding: 10px 15px;
}

.info {
  background-color: #cbd4c1;
  padding: 10px 15px;
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 50px;
  span {
    color: #797979;
  }
}
.posts {
  h2 {
    margin: 0 auto;
    width: 100px;
    margin-bottom: 12px;
  }
}
.post {
  background-color: #eeeed8;
  padding: 10px 20px;
  max-width: 720px;
  margin-bottom: 25px;
  border-radius: 14px;
}
