.posts {
  h2 {
    margin: 0 auto;
    width: 100px;
    margin-bottom: 12px;
  }
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 60px 60px;
  margin-bottom: 75px;
}
.textarea {
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
  width: 90%;
  height: 100px;
  padding: 25px 15px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: #eeeded;
  -webkit-box-shadow: 0px 12px 12px -1px rgba(34, 60, 80, 0.25);
  -moz-box-shadow: 0px 12px 12px -1px rgba(34, 60, 80, 0.25);
  box-shadow: 0px 12px 12px -1px rgba(34, 60, 80, 0.25);
  resize: none;
}
.button {
  width: 120px;
  height: 40px;
  grid-column: 2/3;
  align-self: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.1s ease-in;
  &:hover {
    transform: scale(1.01);
    background-color: #cafdb2;
  }

  -webkit-box-shadow: 0px 1px 2px 2px rgba(34, 60, 80, 0.25);
  -moz-box-shadow: 0px 1px 2px 2px rgba(34, 60, 80, 0.25);
  box-shadow: 0px 1px 2px 2px rgba(34, 60, 80, 0.25);
}
