.post {
  background-color: #eeeed8;
  padding: 10px 20px;
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 25px;
  border-radius: 14px;

  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 20px;
  }
  p {
    display: inline-block;
  }
  span {
    display: block;
  }
}
